.card > .img-container > img {
  width: 20%;
  position: relative;
  margin: 10px 0 0 10px
}
 .card {
  background: rgb(202, 202, 202);
  border-radius: 2px;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 1px 3px #999, 0 1px 3px #999;
  text-align: left;
}

.testimon-text {
  width: 260px;
  font-size: 14px;
  /* line-height: 14px; */
  position: relative;
  left: 50px;
  bottom: 100px
}

.testimon-name {
  position: relative;
  top: 15px;
  height: 16px;
  padding: 0;
  margin: 0
}

/*

.card > .img-container {
  height: 20%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  */
          .card > .content > ul {
            list-style-type: none;
          }
          
          .card > .content > ul > li {
            margin-top: 18px;
          }