.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black !important;
}

.carousel-inner {
    width: 800px;
    height: 400px
}

.carousel-item {
    position: relative;
    left: 100px
}

.prod-descrip {
    width: 200px;
    position: relative;
    top: -350px;
    left: 450px
}