.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgb(119, 119, 119) !important;
    border-radius: 25%;
}

.carousel-inner {
    width: 800px;
    height: 400px
}

.carousel-item {
    position: relative;
    left: 100px
}

.prod-descrip {
    font-family: 'Cinzel Decorative', cursive;
    width: 200px;
    position: relative;
    top: -350px;
    left: 450px
}

.prod-contains {
position: relative;

padding: 10px 0 10px 0;
top: 10px
}

.prod-price {
    position: relative;
    bottom: 20px
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 2px;
    border-color: rgb(214, 214, 214);
    border-radius: 10px;
    background-color: white;
}



.carousel-img {
    margin: 20px;
    width: 360px;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(157, 157, 157)
}

button {
    
    margin-top: 0.7em;
    color: white;
}

.sanch-button {
    font-family: 'Francois One', sans-serif; 
}

.carousel.slide {
    background-color: #DCEFDD;
    padding: 10px;
}

.carousel-background {
    background-color: #DCEFDD;
}

/* .carousel-font {
    font-family: 'Cinzel Decorative', cursive;
} */

.product-contents {
  position: relative;
  top: 10px
}
